html,
body
{
	font-size:625%;
	width:100%;
	background: #68cdd5;
	margin:0;
}
header
{
	color:#fff;
	width:100%;
	height:0.5rem;
	vertical-align:middle;
	font:0.1rem 黑体;
}
.text1
{
	position:absolute;
	left:0;
	text-align:left;
	font-size:0.2rem;
}
.text2
{
	text-align:center;
	position:absolute;
	left:50%;
	font-size:0.25rem;
}
.text3
{

	position:absolute;
	right:0;
	font-size:0.2rem;
}
main
{
	color:#fff;
	font:0.1rem 黑体;
}
#submit
{
	display:block;
	width:100%;
}
input
{
	color:#68cdd5;
	height:0.75rem;
	display:block;
	font:0.1rem 黑体;
}
.phone
{
	background: #fff url("phone.png") no-repeat;
	height:75px;
}
