html,
body
{
	font-size:625%;
	margin:0;
	background-color:#68cdd5;
}
.content
{
	color:#fff;
	font-size:0.3rem;
	margin:0 auto;
}
.back
{
	width:0.91rem;
}
.logo
{
	display:block;
	margin:0 auto;
	width:2.33rem;
}
.main
{
	margin:0 auto;
	width:80%;
	text-align:center;
}
.main p
{
	margin:1rem 0;
	text-align:center;
}
.control
{
	margin:1.36rem auto;
}
.button1
{
	float:left;
	width:1.06rem;
	font-size:0.2rem;
}
.button1 p
{
	margin: 0;
}
.button2
{
	float:right;
	width:1.06rem;
	padding:0rem;
	font-size:0.2rem;
}
.button2 p
{
	margin: 0;
}
.clear
{
	clear: both;
}
}