body
{
	font-size:62.5%;
}
.content
{
	background-color:#68cdd5;
	color:#fff;
	font:1.6rem 宋体;
}
.logo
{
	display:block;
	margin:0 auto;
}
p
{
	margin:2rem 0;
	text-align:center;
}
.control
{
	margin:0 auto;
	padding:10rem 0;
	width:80%;
	text-align:center;
	border:solid #fff 1rem;
}
.button1
{
	float:left;
}
.button2
{
	float:right;
}
.clear
{
	clear: both;
}
}