body
{
	background-color: #29bde0;
	width:100%;
	height:100%;
}
header
{
	height:50px;
	padding: 23px 14px;
}
.mynavbar
{
	background-color: #29bde0;
	border: none;
	position: relative;
}
.mynavbtn
{
	margin: 0;
	width: 39px;
	height: 40px;
	float: left;
	padding: 3px;
	border-width: 2px;
	border-radius: 0;
}
.mynavbar .mynavbtn .myicon-bar
{
	background-color:#fff;
	width: 29px;
	height: 2px;
}
.mynavbd
{
	font-size: 34px;
	color:#fff;
	display: inline-block;
	text-align: center;
	height: 40px;
	line-height: 40px;
    position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.myremove
{
	color:#fff;
	font-size:34px;
	float: right;
}